html,
body {
    margin: 0;
    padding: 50px;
    height: 100%;
}
.CodeMirror {
    border: 1px solid #eee;
}
#content{
    height: 100%;
}
#main_Container{
    height: 100%;
}
#content_results{
    max-height: 150px;
    overflow-y:scroll;
}
.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}
.CodeMirror-fullscreen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    height: auto;
    z-index: 9;
    margin-top: 50px;
}